<link rel="stylesheet" href="/styles.css">

<h3>Build your own Pizza</h3>

<form method="POST" action="/yourCustomPizza">

    <label for="pizzaSize">Size</label>
    <select name="pizzaSize" id="pizzaSize">
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
    </select>
    <label for="toppingsNumber">Toppings</label>
    <input type="number" name="toppingsNumber" id="toppingsNumber">
    <ul>
        {{!-- for each loop for each topping we have --}}
        {{#each allToppings}}
            <li>{{this}}</li>
        {{/each}}
    </ul>

    {{!-- Gluten free Radio section --}}
    <div>
        <input type="radio" name="glutenFree" id="glutenFree">
        <label for="glutenFree">Gluten-Free Crust? (2.00 extra)</label>
    </div>

    {{!-- special instructions section --}}
    <div>
        <label for="specialInstructions">Special Instructions (Optional)</label>
        <input type="text" name="specialInstructions" id="specialInstructions">
    </div>

    {{!-- submit button for form (calculate price) --}}
    <div>
        <button type="submit">Calculate Price</button>
        <a href="/">Never Mind</a>
    </div>

</form>