

<h1>You arrive on planet Galactizza!</h1>

<h3>The Galaxay's Best 'Za</h3>
    <ul>
        <li><a>{{pepperoniPizza}}</a></li>
        <li>{{fruityMeatsPizza}}</li>
        <li>{{vegatzzaPizza}}</li>
    </ul>


<h3>Manifest your own 'Za</h3>


<h3>Cordially submit a review of your experience</h3>

{{!-- pizza image --}}