<link rel="stylesheet" href="/styles.css">

<h1>What is up my dudes? Time to Pizza on Pal.</h1>

<img src="/PizzaPals.jpg" alt="Pizza Pals" class="pizza-pals">

<h3>The Galax-ayyyyy's Best 'Za</h3>
    {{!-- <ul>
        {{#each pizza}}
            <li><a>{{this}}</a></li>
        {{/each}}
    </ul> --}}
    <li>{{vegatzzaPizza}}</li>


<h3>Make your own, Bro</h3>
<a href="/buildYourPizza"> Build your own!</a>

<h3>Like, tell us how it was my Dude.</h3>
<a href="/reviews">Click here to leave a review</a>

{{!-- pizza image --}}